body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* 
img{
    margin-right: 200px;
}
.my{
    text-align: center;
}
.ps{
    text-align: center;
}
.mid{
    text-align:center ;

}

.apel{
   text-align: center;
}
/* .d{
   margin-right: 100px; */
}
/* .g{
   height: 100px;
} */

.don{
  margin-left: 500px;
} */
.im{
    margin-left: 250px;  
 }